<form class="input-group shadow-sm rounded-3" role="search" (submit)="onSubmit($event)">
  <select
    [(ngModel)]="selectedLocation"
    name="location"
    style="border-top-left-radius: 0.375rem; border-bottom-left-radius: 0.375rem; border: 2px solid white; border-right: 2px solid rgb(34, 47, 62); width: 100px; text-align: center"
  >
    <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
  </select>

  <input
    class="form-control border-start-0"
    list="searchSuggestions"
    #searchInput
    id="searchInput"
    type="search"
    placeholder="Search for products, categories, or companies..."
    aria-label="Search"
    [(ngModel)]="searchTerm"
    (input)="onSearchInput()"
    name="search"
  />

  <datalist id="searchSuggestions">
    <option *ngFor="let suggestion of filteredSuggestions" [value]="suggestion"></option>
  </datalist>

  <button
    class="btn"
    type="submit"
    style="background-color: rgb(243, 168, 70); border-color: rgb(243, 168, 70); padding: 0.25rem 0.5rem;"
  >
    <i class="bi bi-search" style="color: rgb(34, 47, 62); font-size: 1.5rem; font-weight: bolder;"></i>
  </button>
</form>
